{
    "openapi": "3.0.0",
    "info": {
        "title": "EmpireQuest API",
        "description": "A Game Of Space (AGOS) - Comprehensive API for tick-based MMORPG",
        "contact": {
            "name": "EmpireQuest Support",
            "email": "admin@empirequest.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.empirequest.com/api/v1",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8080/api/v1",
            "description": "Development Server"
        }
    ],
    "paths": {
        "/admin/tick/process": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Process game tick",
                "description": "Manually trigger a game tick processing (admin only)",
                "operationId": "processTick",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "force_recalc": {
                                        "description": "Force recalculation even if tick already processed",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tick processed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tick processed successfully"
                                        },
                                        "tick_number": {
                                            "type": "integer",
                                            "example": 1234
                                        },
                                        "processing_time": {
                                            "type": "number",
                                            "example": 2.5
                                        },
                                        "statistics": {
                                            "properties": {
                                                "empires_updated": {
                                                    "type": "integer",
                                                    "example": 50
                                                },
                                                "planets_processed": {
                                                    "type": "integer",
                                                    "example": 200
                                                },
                                                "fleets_moved": {
                                                    "type": "integer",
                                                    "example": 15
                                                },
                                                "combats_resolved": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Admin access required"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/alliances": {
            "get": {
                "tags": [
                    "Alliances"
                ],
                "summary": "Get all alliances",
                "description": "Retrieve a list of all alliances in the game",
                "operationId": "getAlliances",
                "responses": {
                    "200": {
                        "description": "Alliances retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "alliances": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Galactic Federation"
                                                    },
                                                    "tag": {
                                                        "type": "string",
                                                        "example": "GF"
                                                    },
                                                    "leader": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Empire Alpha"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "member_count": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "fund_tellerium": {
                                                        "type": "integer",
                                                        "example": 100000
                                                    },
                                                    "fund_krypton": {
                                                        "type": "integer",
                                                        "example": 80000
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-10-29T13:00:00Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user and create an empire",
                "description": "Creates a new user account and automatically creates an empire with a homeworld planet",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "email",
                                    "password",
                                    "empire_name"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "spacecommander"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255,
                                        "example": "commander@empire.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "minLength": 8,
                                        "example": "securepassword123"
                                    },
                                    "empire_name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Galactic Empire"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User and empire created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "spacecommander"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "commander@empire.com"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "empire": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Galactic Empire"
                                                        },
                                                        "score": {
                                                            "type": "integer",
                                                            "example": 0
                                                        },
                                                        "planets_owned": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "homeworld": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "New Earth"
                                                        },
                                                        "coordinate": {
                                                            "type": "string",
                                                            "example": "1:1:1:1"
                                                        },
                                                        "state": {
                                                            "type": "string",
                                                            "enum": [
                                                                "unsettled",
                                                                "colony",
                                                                "homeworld"
                                                            ],
                                                            "example": "homeworld"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|abcdef1234567890"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "details": {
                                            "properties": {
                                                "username": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "INTERNAL_ERROR"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred while creating the account"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user and return token",
                "description": "Authenticates a user and returns an API token for accessing protected endpoints",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "commander@empire.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "securepassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "spacecommander"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "commander@empire.com"
                                                        },
                                                        "last_login": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "empire": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Galactic Empire"
                                                        },
                                                        "score": {
                                                            "type": "integer",
                                                            "example": 150000
                                                        },
                                                        "planets_owned": {
                                                            "type": "integer",
                                                            "example": 5
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|abcdef1234567890"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "INVALID_CREDENTIALS"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid email or password"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "details": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user and revoke token",
                "description": "Revokes the current API token, logging out the user",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "UNAUTHORIZED"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get current user and empire data",
                "description": "Returns comprehensive information about the current user and their empire including planets and resources",
                "operationId": "me",
                "responses": {
                    "200": {
                        "description": "User data retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "spacecommander"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "commander@empire.com"
                                                        },
                                                        "last_login": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "empire": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Galactic Empire"
                                                        },
                                                        "score": {
                                                            "type": "integer",
                                                            "example": 150000
                                                        },
                                                        "planets_owned": {
                                                            "type": "integer",
                                                            "example": 5
                                                        },
                                                        "alliance_id": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "nullable": true
                                                        },
                                                        "homeworld_planet_id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "planets": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "New Earth"
                                                            },
                                                            "coordinate": {
                                                                "type": "string",
                                                                "example": "1:1:1:1"
                                                            },
                                                            "state": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "unsettled",
                                                                    "colony",
                                                                    "homeworld"
                                                                ],
                                                                "example": "homeworld"
                                                            },
                                                            "mines": {
                                                                "type": "integer",
                                                                "example": 10
                                                            },
                                                            "probes": {
                                                                "type": "integer",
                                                                "example": 5
                                                            },
                                                            "tellerium_balance": {
                                                                "type": "integer",
                                                                "example": 50000
                                                            },
                                                            "krypton_balance": {
                                                                "type": "integer",
                                                                "example": 25000
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "current_tick": {
                                                    "type": "integer",
                                                    "example": 1000
                                                },
                                                "next_tick_eta": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "UNAUTHORIZED"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No empire found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "NO_EMPIRE"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User does not have an empire"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/defences/definitions": {
            "get": {
                "tags": [
                    "Defences"
                ],
                "summary": "Get defence definitions",
                "description": "Retrieve all available defence types and their specifications",
                "operationId": "getDefenceDefinitions",
                "responses": {
                    "200": {
                        "description": "Defence definitions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "defences": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Laser Turret"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "laser_turret"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Basic defensive weapon"
                                                    },
                                                    "cost_tellerium": {
                                                        "type": "integer",
                                                        "example": 5000
                                                    },
                                                    "cost_krypton": {
                                                        "type": "integer",
                                                        "example": 3000
                                                    },
                                                    "attack_power": {
                                                        "type": "integer",
                                                        "example": 100
                                                    },
                                                    "defence_power": {
                                                        "type": "integer",
                                                        "example": 50
                                                    },
                                                    "energy_consumption": {
                                                        "type": "integer",
                                                        "example": 25
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/planets/{planetId}/defences": {
            "get": {
                "tags": [
                    "Defences"
                ],
                "summary": "Get planet defences",
                "description": "Retrieve all defences on a specific planet",
                "operationId": "getPlanetDefences",
                "parameters": [
                    {
                        "name": "planetId",
                        "in": "path",
                        "description": "Planet ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Planet defences retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "defences": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "defence_slug": {
                                                        "type": "string",
                                                        "example": "laser_turret"
                                                    },
                                                    "quantity": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "definition": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Laser Turret"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Basic defensive weapon"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Planet not owned by user"
                    },
                    "404": {
                        "description": "Planet not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Defences"
                ],
                "summary": "Build defences",
                "description": "Build defences on a planet",
                "operationId": "buildDefences",
                "parameters": [
                    {
                        "name": "planetId",
                        "in": "path",
                        "description": "Planet ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "defence_slug",
                                    "quantity"
                                ],
                                "properties": {
                                    "defence_slug": {
                                        "description": "Defence type slug",
                                        "type": "string",
                                        "example": "laser_turret"
                                    },
                                    "quantity": {
                                        "description": "Number of defences to build",
                                        "type": "integer",
                                        "example": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Defences built successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Defences built successfully"
                                        },
                                        "defence": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "defence_slug": {
                                                    "type": "string",
                                                    "example": "laser_turret"
                                                },
                                                "quantity": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error or insufficient resources",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "INSUFFICIENT_RESOURCES"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Insufficient resources to build defences"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Planet not owned by user"
                    },
                    "404": {
                        "description": "Planet not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/defences/{id}": {
            "delete": {
                "tags": [
                    "Defences"
                ],
                "summary": "Destroy defences",
                "description": "Destroy defences on a planet",
                "operationId": "destroyDefences",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Defence ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "quantity": {
                                        "description": "Number of defences to destroy (optional, defaults to all)",
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Defences destroyed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Defences destroyed successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "INSUFFICIENT_QUANTITY"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Not enough defences to destroy"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Defence not owned by user"
                    },
                    "404": {
                        "description": "Defence not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/planets/{planetId}/defences/{id}/cancel": {
            "delete": {
                "tags": [
                    "Defences"
                ],
                "summary": "Cancel defence construction",
                "description": "Cancel an ongoing defence construction and refund partial resources",
                "operationId": "cancelDefenceConstruction",
                "parameters": [
                    {
                        "name": "planetId",
                        "in": "path",
                        "description": "Planet ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Construction Queue ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Defence construction cancelled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Defence construction cancelled successfully"
                                        },
                                        "refund": {
                                            "properties": {
                                                "tellerium": {
                                                    "type": "integer",
                                                    "example": 1000
                                                },
                                                "krypton": {
                                                    "type": "integer",
                                                    "example": 500
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Cannot cancel completed construction",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "CANNOT_CANCEL"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cannot cancel completed construction"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Construction not owned by user"
                    },
                    "404": {
                        "description": "Construction not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/empires": {
            "get": {
                "tags": [
                    "Empires"
                ],
                "summary": "Search empires",
                "description": "Search and list empires with optional filtering and pagination",
                "operationId": "searchEmpires",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query for empire name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "example": "Galactic"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of results per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "example": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Empires retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "ok"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Galactic Empire"
                                                    },
                                                    "score": {
                                                        "type": "integer",
                                                        "example": 150000
                                                    },
                                                    "planets_owned": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "alliance_id": {
                                                        "type": "integer",
                                                        "example": 1,
                                                        "nullable": true
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 20
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 150
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 8
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Validation failed"
                                        },
                                        "details": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/facilities/definitions": {
            "get": {
                "tags": [
                    "Facilities"
                ],
                "summary": "Get facility definitions",
                "description": "Retrieve all available facility types and their specifications",
                "operationId": "getFacilityDefinitions",
                "responses": {
                    "200": {
                        "description": "Facility definitions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "facilities": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Mining Station"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "mining_station"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Increases tellerium production"
                                                    },
                                                    "cost_tellerium": {
                                                        "type": "integer",
                                                        "example": 10000
                                                    },
                                                    "cost_krypton": {
                                                        "type": "integer",
                                                        "example": 8000
                                                    },
                                                    "production_tellerium": {
                                                        "type": "integer",
                                                        "example": 1000
                                                    },
                                                    "production_krypton": {
                                                        "type": "integer",
                                                        "example": 0
                                                    },
                                                    "energy_consumption": {
                                                        "type": "integer",
                                                        "example": 50
                                                    },
                                                    "build_time": {
                                                        "type": "integer",
                                                        "example": 300
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/planets/{planetId}/facilities": {
            "get": {
                "tags": [
                    "Facilities"
                ],
                "summary": "Get planet facilities",
                "description": "Retrieve all facilities on a specific planet",
                "operationId": "getPlanetFacilities",
                "parameters": [
                    {
                        "name": "planetId",
                        "in": "path",
                        "description": "Planet ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Planet facilities retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "facilities": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "facility_slug": {
                                                        "type": "string",
                                                        "example": "mining_station"
                                                    },
                                                    "level": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "is_active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "definition": {
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Mining Station"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Increases tellerium production"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Planet not owned by user"
                    },
                    "404": {
                        "description": "Planet not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Facilities"
                ],
                "summary": "Build facility",
                "description": "Build a new facility on a planet",
                "operationId": "buildFacility",
                "parameters": [
                    {
                        "name": "planetId",
                        "in": "path",
                        "description": "Planet ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "facility_slug"
                                ],
                                "properties": {
                                    "facility_slug": {
                                        "description": "Facility type slug",
                                        "type": "string",
                                        "example": "mining_station"
                                    },
                                    "level": {
                                        "description": "Initial level (default: 1)",
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Facility built successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Facility built successfully"
                                        },
                                        "facility": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "facility_slug": {
                                                    "type": "string",
                                                    "example": "mining_station"
                                                },
                                                "level": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "is_active": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error or insufficient resources",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "INSUFFICIENT_RESOURCES"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Insufficient resources to build facility"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Planet not owned by user"
                    },
                    "404": {
                        "description": "Planet not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/facilities/{id}/upgrade": {
            "put": {
                "tags": [
                    "Facilities"
                ],
                "summary": "Upgrade facility",
                "description": "Upgrade an existing facility to the next level",
                "operationId": "upgradeFacility",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Facility ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Facility upgraded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Facility upgraded successfully"
                                        },
                                        "facility": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "level": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "is_active": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error or insufficient resources",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "MAX_LEVEL_REACHED"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Facility is already at maximum level"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Facility not owned by user"
                    },
                    "404": {
                        "description": "Facility not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/facilities/{id}": {
            "delete": {
                "tags": [
                    "Facilities"
                ],
                "summary": "Destroy facility",
                "description": "Destroy an existing facility",
                "operationId": "destroyFacility",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Facility ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Facility destroyed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Facility destroyed successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Facility not owned by user"
                    },
                    "404": {
                        "description": "Facility not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/planets/{planetId}/facilities/{id}/cancel": {
            "delete": {
                "tags": [
                    "Facilities"
                ],
                "summary": "Cancel facility construction",
                "description": "Cancel an ongoing facility construction and refund partial resources",
                "operationId": "cancelFacilityConstruction",
                "parameters": [
                    {
                        "name": "planetId",
                        "in": "path",
                        "description": "Planet ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Construction Queue ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Facility construction cancelled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Facility construction cancelled successfully"
                                        },
                                        "refund": {
                                            "properties": {
                                                "tellerium": {
                                                    "type": "integer",
                                                    "example": 2500
                                                },
                                                "krypton": {
                                                    "type": "integer",
                                                    "example": 1500
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Cannot cancel completed construction",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "code": {
                                            "type": "string",
                                            "example": "CANNOT_CANCEL"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cannot cancel completed construction"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden - Construction not owned by user"
                    },
                    "404": {
                        "description": "Construction not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/fleets": {
            "get": {
                "tags": [
                    "Fleets"
                ],
                "summary": "Get user's fleets",
                "description": "Retrieve all fleets owned by the authenticated user's empire",
                "operationId": "getFleets",
                "responses": {
                    "200": {
                        "description": "List of fleets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "fleets": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Alpha Squadron"
                                                    },
                                                    "origin_coordinate": {
                                                        "properties": {
                                                            "quadrant": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "sector": {
                                                                "type": "integer",
[...]
